<footer class="bg-light mb-5">
  <div class="container">
    <div class="row text-center text-md-center">
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <div class="footer-logo">
          <img src="site-images/logo.png" alt="English with Gaven Logo" class="img-fluid mb-3" style="max-width: 100px;">
        </div>
        <p>English with Gaven &copy; 2025</p>
      </div>
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-6 col-md-4">
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="php/login.php" class="nav-link fw-bold text-dark">Login</a></li>
              <li class="nav-item mb-2"><a href="signup.html" class="nav-link fw-bold text-dark">Register</a></li>
              <li class="nav-item mb-2"><a href="contact.html" class="nav-link fw-bold text-dark">Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="home.html" class="nav-link fw-bold text-dark">Home</a></li>
              <li class="nav-item mb-2"><a href="about.html" class="nav-link fw-bold text-dark">About</a></li>
              <li class="nav-item mb-2"><a href="faq.html" class="nav-link fw-bold text-dark">FAQ</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4 mt-4 mt-md-0">
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="terms.html" class="nav-link fw-bold text-dark">Terms of Service</a></li>
              <li class="nav-item mb-2"><a href="privacy.html" class="nav-link fw-bold text-dark">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
